* {
    border: none;
    border-radius: 7px;
    font-family: "Serif";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: #ff70a2;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 2px;
}

#workspaces button.active {
    color: #ff006f;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 7px;
}

#workspaces button.urgent {
    color: #ff0000;
    background: #ffffff;
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 9px;
    animation-name: blink;
    animation-duration: 0.5s;
}

#workspaces button:hover {
    background: inherit;
    color: #ffffff;
    border-radius: 7px;
    padding-left: 6px;
    padding-right: 10px;
}

window#waybar.empty #window {
    background-color: transparent;
    border: None;
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#custom-notifications,
#custom-updates,
#custom-player,
#workspaces,
#tray,
#memory,
#disk,
#backlight,

#backlight {
    background: inherit;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
    margin-left: 5px;
}

#custom-appmenu {
    background: inherit;
    border-radius: 7px;
    color: #268FFF;
    font-size: 19px;
    margin-left: 5px;
    padding-right: 14px;
    padding-left: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#taskbar {
    background: inherit;
    border-radius: 7px;
    margin-right: 4px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 4px;
}

#tray {
    background: #2E3440;
    border-radius: 7px;
    margin-right: 7px;
}

#workspaces {
    background: inherit;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 2px;
    padding-right: 2px;
}

#window {
    background: inherit;
    color: #ffbb6e;
    border-radius: 7px;
    margin-left: 0px;
    margin-right: 0px;
}

#clock {
    background: inherit;
    color: #fff891;
    border-radius: 7px 7px 7px 7px;
    margin-right: 3px;
    margin-left: 1px;
    padding-right: 3px;
}

#network {
    color: #00ffd9;
    margin-right: 5px;
    margin-left: -5px;
}

#network.ethernet {
    background: inherit;
    border: none;
    color: #ffffff;
    margin-right: 8px;
}

#network.disconnected {
    background: #fc0303;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
}

#custom-notifications {
    color: #f9e2af;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left:  2px;
    margin-right: 2px;
}

#custom-updates {
    color: #89b4fa;
    border-radius: 7px 7px 7px 7px;
    border-left:  0px;
    border-right: 0px;
    margin-left:  2px;
    margin-right: 2px;
}

#custom-media {
    background: inherit;
    color: #ffffff;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 8px;
    padding-left: 7px;
    padding-top: 3px;
}

#custom-player {
 color: #cba6f7;
 border-radius: 7px 7px 7px 7px;
 padding-left: 4px;
 margin-left:  5px;
 margin-right: 5px;
}

#cpu {
    background: inherit;
    color: #ff7070;
    margin-left: 8px;
    margin-right: 5px;
}

#memory {
    background: inherit;
    color: #ff70a2;
    padding-right: 0px;
}

#disk {
    background: inherit;
    color: #ffbb6e;
    padding-left: 0px;
}


#bluetooth {
  background: inherit;
  color: #89b4fa;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
} 

#pulseaudio {
  background: inherit;
  color: #7598ff;
  border-radius: 7px 0px 0px 7px;
  margin-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-radius: 0px 7px 7px 0px;
    margin-left: 0px;
}

#battery {
    background: inherit;
    color: #da8aff;
    padding-right: 16px;
    margin-left: 0px;
}

#battery.critical:not(.charging) {
  background-color:           #F53C3C;
  color:                      #EEEEEE;
  animation-name:             blink;
  animation-duration:         0.5s;
  animation-timing-function:  linear;
  animation-iteration-count:  infinite;
  animation-direction:        alternate;
  border-radius: 	      3px;
  margin-top: 		      3px;
  margin-bottom: 	      3px;
  padding-right: 	      16px;
  margin-left:		      3px;
}

#battery.warning:not(.charging) {
  background-color:	      #fff192;
  color:		      #b55705;
  border-radius: 	      3px;
  margin-top: 		      3px;
  margin-bottom: 	      4px;
  padding-right: 	      16px;
  margin-left:		      3px;
}

#hardware {
    background: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    margin-left: 0px;
    margin-right: 0px;
}

#system_status {
    background: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
    margin-right: 0px;
}
